<div class="login-container">
  <h2>Create Your Account</h2>
<h2> is this it? <h2>
  <%= form_with scope: :user, url: registration_path(:user), method: :post, class: "login-form", data: { turbo: false } do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation, required: true %>
    </div>

    <div class="form-group">
      <%= f.submit "Sign Up", class: "btn-login" %>
    </div>
  <% end %>

  <div class="signup-link">
    Already have an account?
    <%= link_to "Log in", login_path %>
  </div>
</div>
