<div id="<%= dom_id venue %>">
  <p>
    <strong>Address:</strong>
    <%= formatted_address(venue) %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= venue.category %>
  </p>

  <p>
    <strong>Events count:</strong>
    <%= venue.events_count %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= venue.name %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= venue.website %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= venue.owner_id %>
  </p>

</div>
