<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pickleball" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= render "shared/head_assets" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= yield :head %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
